# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

### Criando o Banco de Dados

In [4]:
import sqlite3
 
# Criando uma conexão
conn = sqlite3.connect('dsa.db')    
c = conn.cursor()
 
# Criando uma tabela
c.execute('''CREATE TABLE texto
             (id TEXT, my_var1 TEXT, my_var2 INT)''')
 
# Inserindo uma linha
c.execute("INSERT INTO texto VALUES ('ID_2352532','YES', 4)")
 
# insert multiple lines of data
multi_lines =[ ('ID_2352533','YES', 1),
               ('ID_2352534','NO', 0),
               ('ID_2352535','YES', 3),
               ('ID_2352536','YES', 9),
               ('ID_2352537','YES', 10) 
              ]
c.executemany('INSERT INTO texto VALUES (?,?,?)', multi_lines)
 
# save (commit) the changes
conn.commit()
 
# close connection
conn.close()

### Atualizando um Banco de Dados

In [5]:
import sqlite3
 
# make connection to existing db
conn = sqlite3.connect('dsa.db')
c = conn.cursor()
 
# update field
t = ('NO', 'ID_2352533', )
c.execute("UPDATE texto SET my_var1=? WHERE id=?", t)
print ("Total number of rows changed:", conn.total_changes)
 
# delete rows
t = ('NO', )
c.execute("DELETE FROM texto WHERE my_var1=?", t)
print ("Total number of rows deleted: ", conn.total_changes)
 
# add column
c.execute("ALTER TABLE texto ADD COLUMN 'my_var3' TEXT")
 
# save changes
conn.commit()
 
# print column names
c.execute("SELECT * FROM texto")
col_name_list = [tup[0] for tup in c.description]
print (col_name_list)
 
# close connection
conn.close()

Total number of rows changed: 1
Total number of rows deleted:  3
['id', 'my_var1', 'my_var2', 'my_var3']

### Consultando um Banco de Dados

In [7]:
import sqlite3
 
# open existing database
conn = sqlite3.connect('dsa.db')
 
c = conn.cursor()
 
# print all lines ordered by integer value in my_var2
for row in c.execute('SELECT * FROM texto ORDER BY my_var2'):
    print (row)
 
# print all lines that have "YES" as my_var1 value 
# and have an integer value &lt;= 7 in my_var2
t = ('YES',7,)
for row in c.execute('SELECT * FROM texto WHERE my_var1=? AND my_var2 &lt;= ?', t):
    print (row)
 
# print all lines that have "YES" as my_var1 value 
# and have an integer value &lt;= 7 in my_var2
t = ('YES',7,)
c.execute('SELECT * FROM texto WHERE my_var1=? AND my_var2 &lt;= ?', t)
rows = c.fetchall()
for r in rows:
    print (r)
 
# close connection
conn.close()

('ID_2352535', 'YES', 3, None)
('ID_2352532', 'YES', 4, None)
('ID_2352536', 'YES', 9, None)
('ID_2352537', 'YES', 10, None)

OperationalError: no such column: lt

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>